body
{
    background-image: url(downloa.jpg)
    
}
#output
{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #ff0808;
    padding:10px;
    float:none;
    text-align: left;

}